[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Microservices-LERC/client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Microservices-LERC/order-ms.git
